body {
	background-color: hsl(60, 2%, 95%);
}
header {
	height: 140px;
	grid-column: 1 / span 5;
	grid-row: 1;
}
header h1 {
	line-height: 0.7em;
}
header ul {
	display: inline-block;
}
header li {
	list-style: none;
	display: inline-block;
	padding: 0.1em 1em;
}
footer {
	grid-column: 1 / span 5;
	grid-row: 3;
}
tspan {
	font-size: 8px;
}
.top-nav li {
	display: inline;
	list-style: none;
	padding: 0px 0.7em;
}
.overview {
	display: grid;
	grid-template-columns: 10% 20% 30% 20% 20%;
	grid-template-rows: 12% auto 10%;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}
.filter {
	grid-column: 1;
	grid-row: 2;
}
.charts {
	grid-column: 2 / span 4;
	grid-row: 2;
}
.tasks-filter {
	max-height: 300px;
	overflow-y: scroll;
	font-size: 0.7em;
	padding-left: 0.4em;
}

.tasks-filter li {
	list-style: none;
}
.students-filter {
	max-height: 250px;
	font-size: 0.7em;
	padding-left: 0.4em;
}
.students-filter li {
	list-style: none;
}
.inactive {
	text-decoration: line-through;
	color: hsl(0, 0%, 66%);
}
